.card {
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
  height: 100%;
  flex-direction: column;
  display: flex;
}
.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}
/* Image wrapper  */
.long-img {
  position: relative;
  height: 270px;
  overflow: hidden;
}

.img {
  width: 100%;
  height: auto;
  transform: translateY(0);
  transition: transform 7s ease-in-out;
}

.img:hover {
  transform: translateY(-90%);
  cursor: pointer;
}
