/* Base card container */
.card {
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.img-wrapper {
  position: relative;
  height: 192px;
  overflow: hidden;
}

.img {
  width: 100%;
  height: auto;
  transform: translateY(0);
  transition: transform 4s ease-in-out;
}

.img:hover {
  transform: translateY(-90%);
  cursor: pointer;
}
